<h3>Add Reply</h3>
<%= form_with url: create_reply_path(@comment.article_id, @comment.id) do |form|
%>
  <p>
    <%=form.label :text%><br>
    <%= form.text_area :text%>
  </p>
  <%= form.submit %>
<%end%>
