<h1>Reports</h1>

<% if !@reports.nil? %>
    <ul>
        <% @reports.each do |report| %>
            <li><%= link_to report.created_at.strftime("%B %I:%M Report"), report_download_path(report) %></li>
        <%end%>
    </ul>
<% else %>
     <p>No reports currently</p>
<% end %>